<!DOCTYPE html>
<html>
<head>
  <title>Audits1984</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "audits1984/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
