<article class="message is-info">
  <div class="message-body">
    <%= sessions.count %> sessions (<%= sessions.pending.count %> pending, <%= sessions.approved.count %> approved, <%= sessions.flagged.count %> flagged)
  </div>
</article>
